@import '../root-styles/vars.css';

.posts {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.postItem {
    list-style-type: none;
    width: 10%;
}
