@import '../root-styles/vars.css';

.headerContainer {
    display: flex;
    align-items: center;
}

.headerText {
    font-size: 1.5rem;
    font-weight: 400;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    padding: 25px 0;
}

.pacman {
    height: 72px;
}
